html, body{
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 70px minmax(160px, auto) auto;
  grid-template-areas: 
    'header header'
    'main main'
    'footer footer';
  column-gap: 20px;
  row-gap: 20px;
}

.page-header {
  grid-area: header;
}

.page-main {
  grid-area: main;
}

.page-footer {
  grid-area: footer;
}

.con {
  position: relative;
  min-height: 100vh;
  }
  
.bg {
  width: 100%;
  height: 100%;
  position: relative;
  }
  
.bg::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: #666666;
  background-image: url('https://images.unsplash.com/photo-1619273015363-fd860db1efa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: space;
  filter: brightness(70%);
  }

.content {
  color: #242424;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}


.page-header {
  z-index: 5;
}

.menu-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;

}

.item {
  color: black;
  background-color: transparent;
  font-size: 23px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  margin-top: -20px;
  text-decoration: none;
  font-weight: bold;
  z-index: 3;
  position: relative;
  top: 30px;
}

.item.title {
  font-weight: 600;
}

.title {
  position: relative;
  top: 10px;
}

.conmain {
  color: white;
  position: relative;
  font-size: 90px;  
  top: 175px; 
  text-align: center;
  font-weight: 500;
}

.about1{
  position: relative;
  top: -160px;
  width: 100%;
  padding: 100px 0px;
  background-color: #92d292;
}

.about1 img{
  height: 400px;
  width: 600px;
  border-radius: 30px;
}

.abot-text{
  width: 450px;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.abot-text h3{
  color: rgb(21, 83, 29);
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.abot-text h4{
  color: rgb(21, 83, 29);
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.video13{
  width: 100%;
  padding: 90px 0px;
  background-color: #92d292;
}

  .video13-text{
  width: 300px;
}

.main1{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.video13-text h2{
  text-align: center;
  color: rgb(5, 71, 24);
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
}    

.video13-text h1{
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.footer13{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15;
  background: #242424;
  color: white;
  display: flex;
}

.footer13 div{
  text-align: center;
}

.col-2{
  flex-grow: 2;
}

.footer12 div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form  button{
  background: transparent;
  border: 2px solid#fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.he{
  position: relative;
  top: -105px;
  padding: 30px;
}

.info{
  position: relative;
  top: -105px;
  padding: 30px;
  font-size: 20px;
}

.hed {
  position: relative;
  top: -110px;
  padding: 30px;
  border-style: dashed;
  border-radius: 30px;
  width: 23%;
  text-align: center;
  left: 2%;
  border-color: #92d292;
}
